@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');


ul.nav-tabs > li.nav-item > button.active {
  background-color: #344FA1;
  color: white;
}

.nav-item {
  font-size: 1rem;
  font-weight: 400;
}

body, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 0.8rem;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

body, p, card-body, li, ul {
  font-weight: 300;
  font-size: 0.9rem;
}

.footer {
  border-top: solid 2px #6bbbc4;
  background-color: #DEEDF0;
  width: 100%;
}

header {
  /* background: url(./components/water-gardens-banner.jpg);
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover; */
  width: 100%;
  height: 13vh;
  font-family: 'Noto Sans', sans-serif;
}

.sub-header {
  direction : flex;
  text-align: center;
  margin: 10px auto;
  font-weight: 300;
  color: #344FA1;
}

.card-title {
  margin: 3px auto;
}

.popup-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0.25, 0.25, 0.25, 0.5);
}
  
.popup {
  position: fixed;
  width: 90%;
  height: 60vh;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.card-img-top {
  max-height: 50vh;
  max-width: 400px;
}
